/*@font-face {
  font-family: Mavenpro;
  src: url(../fonts/Mavenpro/mavenpro-regular.eot);
  src: url(../fonts/Mavenpro/mavenpro-regular.eot?#iefix) format('embedded-opentype'), url(../fonts/Mavenpro/mavenpro-regular.woff) format('woff'), url(../fonts/Mavenpro/mavenpro-regular.ttf) format('truetype'), url(../fonts/Mavenpro/mavenpro-regular.svg#maven_proregular) format('svg');
  font-weight: 400;
  font-style: normal
}
@font-face {
  font-family: Mavenpro-black;
  src: url(../fonts/Mavenpro/mavenpro-black-webfont.eot);
  src: url(../fonts/Mavenpro/mavenpro-black-webfont.eot?#iefix) format('embedded-opentype'), url(../fonts/Mavenpro/mavenpro-black-webfont.woff) format('woff'), url(../fonts/Mavenpro/mavenpro-black-webfont.ttf) format('truetype'), url(../fonts/Mavenpro/mavenpro-black-webfont.svg#maven_problack) format('svg');
  font-weight: 400;
  font-style: normal
}
f @font-face {
  font-family: Mavenpro-bold;
  src: url(../fonts/Mavenpro/mavenpro-bold-webfont.eot);
  src: url(../fonts/Mavenpro/mavenpro-bold-webfont.eot?#iefix) format('embedded-opentype'), url(../fonts/Mavenpro/mavenpro-bold-webfont.woff) format('woff'), url(../fonts/Mavenpro/mavenpro-bold-webfont.ttf) format('truetype'), url(../fonts/Mavenpro/mavenpro-bold-webfont.svg#maven_probold) format('svg');
  font-weight: 400;
  font-style: normal
}
@font-face {
  font-family: Mavenpro-medium;
  src: url(../fonts/Mavenpro/mavenpro-medium-webfont.eot);
  src: url(../fonts/Mavenpro/mavenpro-medium-webfont.eot?#iefix) format('embedded-opentype'), url(../fonts/Mavenpro/mavenpro-medium-webfont.woff) format('woff'), url(../fonts/Mavenpro/mavenpro-medium-webfont.ttf) format('truetype'), url(../fonts/Mavenpro/mavenpro-medium-webfont.svg#maven_promedium) format('svg');
  font-weight: 400;
  font-style: normal
}*/

@font-face {
    font-family: Roboto;
    /*src: url("font-1/roboto/Roboto-Italic.ttf") format('truetype');*/
    src: url("font/roboto/Roboto-Regular.ttf") format('truetype');
}

@font-face {
    font-family: Roboto-Light;
    /*src: url("font-1/roboto/Roboto-Italic.ttf") format('truetype');*/
    src: url("font/roboto/Roboto-Light.ttf") format('truetype');
}

body {
    /*background-color: #f0f0f0;*/
    font-size: 12px;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #353535;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
  font-weight: 400
}

a {
    color: #353535;
}

/*Form control*/
input[type=text].form-control, select.form-control {
    font-size: inherit;
    height: 30px;
    display: inline-block;
}

textarea.form-control {
    font-size: inherit;
}

select.form-control {
    width: inherit;
    padding: 6px;
}

/*End form control*/

#wrapper{
    width: 100%
}

div.header {
    padding: 30px 0;
  border-bottom: 1px solid #dfdfdf;
}

#header-logo{
    width: 23%;
    padding: 0;
    /*height: 116px;*/
}
#header-logo a {
    /*height: 37px;*/
    display: block;
    margin-top: 24px;
}

.header-mobile {
    padding: 10px 0;
    border-bottom: 1px solid #dfdfdf;
}

#header-logo-mobile {
    width: 100%;
    padding: 0;
    /*height: 50px;*/
}

#header-logo-mobile a {
    /*height: 37px;*/
    display: block;
    margin: 0 10px;
}

#header-right{
    width: 77%;
  padding: 0;
    height: 90px;
    border-left: 1px solid #dfdfdf;
}

#header-right .hello-user {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
    float: right;
}

#header-right .hello-user li {
    list-style: none;
    float: left;
    color: #717070;
    font-size: 13px;
    padding-left: 12px;
    margin-left: 12px;
    height: 18px
}

#header-right .hello-user li.divider {
    border-left: 1px solid #e7e7e7;
}

#header-right .hello-user li a {
    display: inline-block;
    color: #353535;
}

.main{
    padding: 30px 0;
  
}
#sidebar{
    width: 23%;
    padding: 0 30px 0 0;
}
#content{
    width: 77%;
    padding: 0 0 0 30px;
    border-left: 1px solid #dfdfdf;
}

/*footer*/
.footer {
    padding: 30px 0;
  border: 1px solid #dfdfdf;
  border-width: 1px 0;
}

#footer_logo{
    padding: 0;
    width: 23%;
    height: 116px;
    border-right: 1px solid #dfdfdf;
}

#footer_logo a {
    height: 37px;
    display: block;
    margin: 35px 0 0 0;
}

.footer-mobile {
    padding: 10px 0;
    border: 1px solid #dfdfdf;
    border-width: 1px 0;
}

#footer-logo-mobile {
    width: 100%;
    padding: 0;
    /*height: 50px;*/
}

#footer-logo-mobile a {
    /*height: 37px;*/
    display: block;
    margin: 0 10px;
}

.bottom_bar {
    padding: 5px 0;
}

.bottom_bar .copyright {
    font-size: 11px;
    line-height: 3;
}
/*end footer*/

/*#header .header-main{
    padding: 0;
}*/

/*.header h1.header-logo{
    width: 60%;
    margin: 20px 0;
}

.header .header-info{
    width: 40%;
    margin-top: 10px;
}*/

/*Sidebar*/
.main-sidebar {
    position: relative;
    padding-top: 0;
    width: 100%
}

.sidebar-menu li.header {
    padding-left: 0;
    padding-top: 0;
    font-size: 15px;
    color: #353535
}

span.tree-item {
    position: relative;
    display: block;
    padding: 5px 5px 5px 0;
    font-size: 14px;
  
}

.sidebar-menu li > a {
    position: initial;
  
}

.sidebar-menu > li > a {
    padding: 0
}

.sidebar-menu li.active > a > .fa-angle-left, .sidebar-menu li > a > .fa-angle-left {
    top: 14px;
    right: 0;
    font-size: 16px;
}

.sidebar-menu > li .label, .sidebar-menu > li .badge {
    position: absolute;
    top: 6px;
    right: 0;
}

/*End sidebar*/

/*Nav*/
.navbar{
  border-radius: 0;
  min-height: auto;
  margin-bottom: 10px;
}

.navbar-default {
    background: #0280bd;
    border-width: 0;
}

.navbar-default .navbar-collapse {
    /*padding: 0;*/
}

.navbar-default .nav .nav-item.active {
    position: relative;
}
.navbar-default .nav .nav-item {
    font-weight: 400;
    text-transform: uppercase;
    z-index: 100;
}
.navbar-nav>li>a{
    padding: 10px 15px;
}

.navbar-default .nav .nav-item a {
    color: #fff;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #fff;
}

.nav > li > a {
    font-size: 14px;
}

.navbar-default .nav .nav-item.active {
  position: relative;
}

.navbar-default .nav .nav-item.active > a {
    background: #0c6691;
    color: #fff;
}

.navbar-default .nav .nav-item.active > a:before {
    content: "\f0d8";
    position: absolute;
    bottom: -8px;
    left: 0;
    text-align: center;
    font-family: FontAwesome;
    display: block;
    font-size: 12px;
    width: 100%;
    color: #f0f0f0;
}
.navbar-default .nav .nav-item a:hover {
    background: #0c6691;
    color: #fff;
}

.navbar-default .nav .nav-item.active > a.dropdown-toggle:before {
  display: none;
}
.navbar-default .nav .nav-item.open a {
  background: #0c6691;
  color: #fff;
}
.navbar-default .nav .nav-item .dropdown-menu {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin: 0;
  border: none;
  padding: 0;
  text-transform: none;
  min-width: 186px;
}
.navbar-default .nav .nav-item .dropdown-menu a {
  border-bottom: 1px solid #0c597e;
  padding: 8px 20px;
}
.navbar-default .nav .nav-item .dropdown-menu a:hover {
  background: #0c597e;
  color: #fff;
  padding-left: 24px;
}
/*/Nav*/

/*Nav-mobile*/
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #0c6691;
}
.navbar-toggle{
  float: left;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 0
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
.nav-search{
  padding: 11px;
  float: right;
}
.nav-search .icon-search{
    position: absolute;
    top: 16px;
    right: 17px;
    font-size: 14px;
}
/*End Nav-mobile*/

/*BreadCrumbs style*/
.breadcrumbs {
    background: none!important;
    position: relative;
    z-index: 10;
    padding: 8px 0 8px 20px;
    border: 1px solid #e7e7e7;
}

/*.breadcrumbs a{
  color: #565656
}*/
.breadcrumbs .divider {
    padding: 0 5px;
}
/*End breadcrumbs*/

/*Pagination style*/
.pagination{
  padding: 0;
  margin-bottom: 0;
  float: left;
}

.pagination .cd-pagination{
  list-style: none;
  margin-left: -30px
}

.pagination .cd-pagination > :first-child > a{
  border-left-width: 1px;
}

.pagination .cd-pagination li{
  float: left;
}

.pagination .cd-pagination li.btn-prev i.fa{
  display: inline;
}

.pagination .cd-pagination li.btn-next i.fa{
  display: inline;
}

.pagination .cd-pagination li a{
  text-decoration: none;
  display: block;
  background-color: #fff;
  padding: 7px 12px;
  color: #2E4057;
  border: 1px solid #e6e6e6;
  border-left-width: 0
}

.pagination .cd-pagination li a:hover{
  background-color: #f2f2f2;
}

.pagination .cd-pagination li > a.current{
  background-color: #2fa1f9;
  color: #fff;
  border-color: #2fa1f9;
}

/*End Pagination style*/

#topcontrol {
    background-color: #2fa1f9;
    color: #fff;
    text-align: center;
    display: inline-block;
    width: 35px;
    height: 35px;
    border: none;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}
#topcontrol:hover {
    background: #2991e2;
}
#topcontrol .fa {
    position: relative;
    top: 3px;
    font-size: 25px;
}

/*Table style*/
.datatable
{
    border: solid 1px #E0E0E0;
    color: #000000;
    border-collapse: collapse;
    margin-top: 5px;
    width: 100%
}
.datatable thead th
{
    border: solid 1px #aed3ba;
    border-style: solid;
    border-width: 1px;
    color: #000;
    padding: 7px 5px;
    text-align: center;
    vertical-align: center;
    font-size: 12px;
    background-color: #c3e2e2;
}
table{
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    /*font-family: Roboto;*/
}
.datatable th a
{
    color: blue;
    padding-right: 18px;
    text-decoration: none;
}
.datatable tr
{
    font-size: 12px;
    padding: 3px 0px;
}

.datatable td /*.datatable .row td, .datatable .altrow td, .datatable .selectedrow td, .disablerow td*/
{
    border: solid 1px #e0e0e0;
    border-style: solid solid solid none;
    border-width: 1px 1px 1px medium;
    color: #5a5a5a;
    padding: 7px 5px;
    font-size: 12px;
    /*text-align: center;*/
}

.datatable .disablerow td
{
    color:white;
    background-color: #D5D5D5;
}

.datatable .selectedrow td
{
    color: black;
    background-color:moccasin;
}
.datatable .row td
{
    background-color: #FFFFFF;
}
.datatable .altrow td
{
    background-color: rgba(196, 248, 247, 0.12);
}
.datatable tr.row:hover td, .datatable tr.altrow:hover td
{
    background-color: #DCF2E4;
}
.datatable tbody tr:hover th, .datatable tbody tr:hover td
{
    background-color: #DCF2E4;
}
.datatable .row td.first
{
    padding-left: 10px;
}
.datatable th.first
{
    padding-left: 10px;
}

.datatable .selectedrow td
{
    background-color: rgba(255, 255, 0, 0.3);
}

.datatable td.td-center {
    text-align: center;
}
.datatable td.td-right {
    text-align: right;
}
/*End table*/

/*Notice style*/
ul.notice-info{
  list-style: none;
  margin-left: -40px
}
ul.notice-info li{
  float: left;
  margin-right: 10px
}
/*end notice style*/

/* —————————————————————————————— product pages —————————————————————————————— */
/* ————— nivo slider ————— */
#tmnivoslider {
    width: 100%;
    height: 486px;
}

#slider {
    width: 100%;
    height: 486px;
    overflow: hidden;
}

.nivoSlider {
    position: relative;
}

.nivoSlider img {
    position: absolute;
    top: 0px;
    left: 0px;
}

.nivoSlider a.nivo-imageLink {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border: 0;
    padding: 0;
    margin: 0;
    z-index: 60;
    display: none;
}

.nivo-slice {
    display: block;
    position: absolute;
    z-index: 50;
    height: 100%;
}

.nivo-html-caption {
    display: none;
}

.nivo-caption {
    width: 50%;
    position: absolute;
    right: 30px;
    top: 0;
    z-index: 89;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader() !important;
}

.nivo-caption > p {
    margin: 0;
    padding: 0;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader() !important;
}

.nivo-caption h2 {
    margin: 0;
    padding: 71px 0 20px 0;
    font: normal 41px/50px "Open Sans";
    color: #4d4d4d;
    text-transform: none;
}

.nivo-caption h3 {
    margin: 0;
    padding: 10px 0 0 0;
    font: normal 12px "Arial";
    color: #4d4d4d;
    text-transform: none;
}

.nivo-caption h3 span {
    color: #4d4d4d;
}

.nivo-caption h3.author span {
    font-weight: bold;
}

.nivo-caption h3.publisher span {
    font-style: italic;
}

.nivo-caption h3.date span {
    font-weight: bold
}

.nivo-caption h3.genre span {
    font-weight: bold;
}

.nivo-caption h4 {
    height: 42px;
    padding: 31px 0 0 0;
}

.nivo-caption span.slide_price {
    height: 42px;
    display: block;
    float: left;
    margin: 0 35px 0 0;
    padding: 0 40px 0 0;
    border-right: 1px solid #dfdfdf;
    font: normal 31px/42px "Open Sans";
    color: #3698f3;
}

.nivo-caption a.slide_btn {
    display: block;
    font: normal 21px/42px "Open Sans";
    color: #a3a3a3;
    text-decoration: none;
    text-transform: none;
}

.nivo-caption a.slide_btn:hover {
    color: #3698f3;
}

.nivo-directionNav {
    position: absolute;
    right: 20px;
    bottom: 21px;
    z-index: 99;
}

.nivo-directionNav a {
    width: 31px;
    height: 0;
    display: block;
    padding: 31px 0 0 0;
    overflow: hidden;
    float: left;
    background-image: url(../img/plugins/slider_nav.png);
    background-repeat: no-repeat;
    cursor: pointer;
}

.nivo-prevNav {
    background-position: 0 0;
}

.nivo-prevNav:hover {
    background-position: 0 -62px;
}

.nivo-nextNav {
    margin: 0 0 0 4px;
    background-position: 0 -31px;
}

.nivo-nextNav:hover {
    background-position: 0 -93px;
}

/*Product block style*/
.box-item {
    width: 100%;
    margin-top: 30px;
    padding: 0
}

.box-item-title {
    font-size: 16px;
    padding: 5px 0;
    border-bottom: 1px solid #e7e7e7;
    margin-bottom: 20px;
}

.sort-box {
    position: relative;
    bottom: 4px;
    font-size: small;
}

.sort-box select {
    margin-left: 8px
}

.item {
    padding: 20px;
    text-align: center;
    border: 1px solid transparent;
    position: relative;
}

.item:hover {
    color: #353535;
    border: 1px solid #e7e7e7;
}

.item-img {
    width: 80%;
    height: 200px;
    margin: 0 auto;
}

.item-title {
    width: 100%;
    min-height: 40px;
    margin-top: 15px;
}

.item-price {
    font-size: 14px;
    margin: .2em;
}

.price-old {
    text-decoration: line-through;
}

.price-new {

}

.item .circle {
    display: block;
    width: 2.1em;
    height: 2.1em;
    text-align: center;
    /*background: #babab9;*/
    color: #fff;
    border-radius: 1.05em;
    font-size: 1.3em;
    line-height: 2.4em;
    position: absolute;
    top: 50px;
    right: 10px;
}

/*Product detail*/
.wraper {
    padding: 0;
    margin-top: 20px;
}

.lg-item-img {
    padding-left: 0;
}

.lg-item-img > img {
    max-width: 100%;
    max-height: 100%;
}

.lg-item-info {
    padding: 0;
}

.row-border {
    width: 100%;
    padding: 0 0 15px 0;
    border-bottom: 1px solid #e7e7e7;
    margin-bottom: 15px;
    overflow: hidden;
}

.row-border .title {
    font-size: 24px;
}

.price-left {
    line-height: 1.5;
    float: left;
    font-size: 20px;
}

.quantity-right {
    float: right;
}

/*Tab style*/
.nav-tabs {
    border-color: #e7e7e7;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    border-color: #e7e7e7;
    border-bottom-color: transparent;
}

.nav-tabs > li > a {
    border-radius: 0;
}

.nav > li > a {
    padding: 8px 15px;
}

.tab-content {
    padding: 15px;
    text-align: justify;
    border: 1px solid #e7e7e7;
    border-top-width: 0px;
}

/*Tooltip style*/
.tooltip.bottom .tooltip-arrow {
    border-bottom-color: #fff;
    border: 1px solid #e7e7e7;
}

.tooltip-inner {
    background-color: #fff;
    color: #353535;
    border: 1px solid #e7e7e7;
}

/*Alert style*/
.alert .close {
    margin-left: 30px;
    line-height: 0.8;
}

#myAlert, #ajaxAlert {
    position: fixed;
    top: 10px;
    z-index: 9999;
    padding-bottom: 10px;
}
